# Python cache and byte-code
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment / local development
.env
.venv
venv/
ENV/
env/

# IDE files
.vscode/
.idea/

# Local WEBP outputs from testing
**/webp/
